section{
	height:1296px
	width: 727px;

}



body {
	background-color:#777;
}

header {
	background-color:#ebebeb;
	color: #777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 50px;
	padding-top:40px;
	margin-left:100px;
	margin-right:250px;
}
nav{
	background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 40px;
	padding-top:40px;
	padding-bottom:10px;
	margin-left:100px;
	margin-right:250px;

}




.box1{background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:400px;
	height: 410px;
	margin-left:100px;
	margin-right:10px;
	border-right:200px;
	border-left:50px;
	padding-left:20px;
	padding-right:120px;
	border-bottom:20px;
	margin-bottom:0px;
	padding-top:20px;
	padding-bottom:20px;
	float:left;

 }

 .aside {background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:350px;
	height: 200px;
	margin-left:-100px;
	margin-right:160px;
	border-right:100px;
	border-top:0px;
	border-bottom:200px;
	margin-bottom:300px;
	margin-top:0px;
	height: 400px;
	padding-top:50px;
	padding-left:45px;
	float:right;
	
}   

footer{
	background-color:#ebebeb;
	color: #777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 50px;
	padding-top:30px;
	margin-left:-20px;
	margin-right:400px;
	clear:left;
    clear:right;
    padding-bottom:30px;
    margin-bottom:0px;
    margin-top:130px;}
  
  .articlebox{
  	text-align:center;
  	padding-top:20px;
  	border-top:10px;
  	background-color: #777;
  	color:#ebebeb;
  	height:250px;
  	margin-top:100px;
  	margin-left:5px;
  	margin-right:-95px;
  	margin-bottom:-50px;
  	padding-bottom:0px;
  	border-bottom:-10px;
  	

  }

  .hbox{background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	margin-top:50px;
	padding-top:0px;
	margin-left:40px;
	margin-top:70px;
	margin-bottom:-20px;
	height:50px;
	width:410px;
}


 .pbox{background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	margin-top:10px;
	padding-top:0px;
	margin-left:40px;
	margin-bottom:-20px;
	height:50px;
	width:410px;

}



