body {
	background-color:#777;
}

header {
	background-color:#ebebeb;
	color: #777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 50px;
	padding-top:40px;
	margin-left:100px;
	margin-right:250px;
}
nav{
	background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 40px;
	padding-top:40px;
	margin-left:100px;
	margin-right:250px;

}

aside{
	backround-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
}

div {background-color:#ebebeb;
	color:#777;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:960px;
	height: 40px;
	margin-left:100px;
	margin-right:300px;

}
